*{
    box-sizing: border-box;
}

body{
    background-color: mediumpurple;
}


.topnav{
    background-color: yellowgreen;
    background-image: url(mrbean.png);
    background-size: repeat-x;
    background-position: center;
    overflow: hidden;
    padding: 3px;
}
 
button{
    color: whitesmoke;
    background-color: black;
    font-family: impact;
    font-weight: lighter;
    font-size: 20px;
    padding: 3px;
    border-radius: 14px;
    cursor: pointer;
}

button:hover{
    background-color: mediumpurple;
}

.header{
    color: whitesmoke;
    text-shadow: 1px 10px 0px mediumpurple;
    padding: 2px;
    font-size: 40px;
    font-family: Impact;
    text-align: center;
    background: whitesmoke;
    background-image: url(ar-mj.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.header:hover{
    color: lemonchiffon;
    cursor: pointer;
}
.card{
    background-color: black;
    background-size: cover;
    padding: 15px;
    font-family: Impact;
    font-size: 24px;
}


p{
    color: cornsilk;
    background-color: black;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    font-variant: small-caps;
    font-weight: bolder;
    padding: 20px;
    text-shadow: 1px 1px 7px black;
    text-align: center;
    border-radius: 8px;
}

p:hover{
    background-color: mediumpurple;
    cursor: pointer;
}

i{
    color: black;
    background-color: yellowgreen;
}

.row{
    text-align: center;
    background-image: url(ar-mj.png);
    background-repeat: round;
    background-size: cover;
    border-radius: 8px;
}

footer{
    color: bisque;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    text-shadow: 1px 1px 8px yellowgreen;
}
