body, html{
    background-color: mediumpurple;
    background-image: url(HANDS.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: black;

}

*{
    box-sizing: border-box;
}

.topnav{
  background-color: yellowgreen;
  overflow: hidden;
  padding: 5px;
  background-image: url(mrbean.png);
  background-repeat: repeat-x;
  background-position: center;
}


button{
  color: whitesmoke;
  background-color: black;
  font-family: impact;
  font-weight: lighter;
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
  border-radius: 14px;
}

button:hover{
  background-color: mediumpurple;
}

header{
  color: lemonchiffon;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 55px;
  text-align: center;
  text-shadow: 1px 4px 6px yellowgreen;
  padding-top: 300px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 14px;
  }

  a{
    color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
  }
  
footer{
    color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    text-shadow: 3px 1px 6px whitesmoke;
    padding: 20px;
  }
