body, html{
    background-color: lavender;
   
}

*{
    box-sizing: border-box;
}

.topnav{
  background-color: black;
  overflow: hidden;
  padding: 0px;
  background-image: url(mrbean.png);
  background-repeat: repeat-x;
  background-position: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: whitesmoke;
  border-radius: 10px;
}

h2, a{
  color: whitesmoke;
  text-align: center;
  font-family: Impact;
  font-size: 44px;
  margin-top: 0vmax;
  margin-bottom: 2px;
  font-weight: lighter;
  text-shadow: 2px 1px 4px black;
}

h3{
  text-align: left;
  text-shadow: 1px 1px 4px whitesmoke;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  background-color: brown;
}

h1{
  text-align: center;
  text-shadow: 1px 1px 4px burlywood;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  animation: ease-in;

}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

footer{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    text-shadow: 3px 1px 6px whitesmoke;
    padding: 20px;
  }
