body{
    background-color: yellowgreen;
    background-image: url(mrbean.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav{
    background-color: brown;
    overflow: hidden;
}
 
button{
    color: whitesmoke;
    background-color: black;
    font-family: impact;
    font-weight: lighter;
    font-size: 20px;
}

button:hover{
    background-color: mediumpurple;
}
