*{
    box-sizing: border-box;
}

body{
    background-color: lemonchiffon;
    background-image: url(mrbean.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav{
    background-color: brown;
    overflow: hidden;
}
 
button{
    color: whitesmoke;
    background-color: black;
    font-family: impact;
    font-weight: lighter;
    font-size: 20px;
}

button:hover{
    background-color: mediumpurple;
}
 h2{
    color: #ffc0ef;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;

 }

 footer{
    color: #ffc0ef;
    text-align: center;
    font-family: impact;
    font-size: 12px;
 }
